body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-weight: 500;
}

h1 {
  font-size: 5.625rem;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
  margin: 50px auto 0 auto;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: 500;
  color: #66BFBF;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

.pro {
  text-decoration: underline;
}
.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
  margin-bottom: 50px;
}

.bottom-container {
  background-color: #66BFBF;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 50px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}
.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.profile-pic {
  border-radius: 100%;
  width: 200px;
  height: 200px;
}

a {
  color: #11999E;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  margin: 10px;
  font-weight: 600;

}

.skill-row {
  width: 50%;
  position: relative;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.html-img {
  width: 30%;
  float: left;
  margin-right: 30px;
}

.css-img {
  width: 30%;
  float: right;
  margin-left: 30px;
}

hr {
  border: none;
  border-top: 6px dotted #EAF6F6;
  width: 50px;
}

.copyright {
  color: #EAF6F6;
  font-family: 'Montserrat', sans-serif;
}

.btn {
  background: #11CDD4;
  background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
  background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
  background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
  background-image: -o-linear-gradient(top, #11CDD4, #11999E);
  background-image: linear-gradient(to bottom, #11CDD4, #11999E);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
